!!!
%html
  %head
    %title Kozak
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = render 'shared/favicons'
  %body
    #header-region
    #main-region
    #footer-region
    #modal-region
    = yield